@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: blue;
  margin: 10px;
  text-align: center;
}

body h1 {
  color: white;
  margin-bottom: 15px;
}
